@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  padding-top: 70px; /* ヘッダーの高さに合わせたパディング */
}

/* Google button */
.image-container {
  width: 100%; /* 親要素に対して幅を100%に設定 */
  max-width: 200px; /* 最大幅を設定 */
}
  
.image-container img {
  width: 100%; /* 幅を100%に設定 */
  height: auto; /* 高さを自動調整してアスペクト比を維持 */
}